.DS_Store
node_modules
/dist
Backend/__pycache__
project-env
dump.rdb
Backend/dump.rdb
data
Backend/celerybeat-schedule


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.pyc
